.main__section-heading {
        color: var(--dark);
        margin: 0;
        font-size: 22px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.88px;
        padding-bottom: 23px;
        border-bottom: 1px var(--dark) solid;
}