.navigation {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.navigation__bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.navigation__button {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    cursor: pointer;
    color: var(--dark);
    text-decoration: none;
    margin: 0;
    display: block;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
}

.navigation__link_current {
    font-weight: 500;
}

.navigation__profile-icon {
    cursor: pointer;
    background-image: url(../../images/profile.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: var(--dark);
    border-radius: 6px;
    width: 30px;
    height: 30px;
}

.navigation__profile-icon_light {
    background-image: url(../../images/profile-dark.svg);
    background-color: var(--light3);
}