.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    width: 100%;
    padding: 0 70px;
    box-sizing: border-box;
    background-color: var(--light-violet);
    transition: all .3s ease;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 30px;
    }   
}

@media screen and (max-width: 320px) {
    .header {
        padding: 0 18px;
    }   
}

.header__logo {
    max-width: 38px;
    object-fit: contain;
    object-position: left;
    max-height: 100%;
    box-sizing: contain-box;
}