.login {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    box-sizing: border-box;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__container {
    display: flex;
    flex-direction: column;
    width: 396px;
    min-height: 560px;
}

.login__form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login__greeting {
    margin: 0;
    padding: 40px 0;
    color: var(--dark);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.login__input-title {
    margin: 0;
    color: var(--dark4);
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.login__input {
    min-height: 46px;
    border: 0;
    border-radius: 8px;
    background: var(--light3);
    color: var(--dark);
    font-size: 13px;
    font-weight: 500;
    line-height: normal;
    padding-left: 15px;
    margin: 0;
}

.login__input-error {
    color: var(--red);
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    min-height: 20px;
    display: flex;
    align-items: center;
}

.login__error {
    color: var(--red);
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    margin: auto 0 20px;
}

.login__submit-button {
    background-color: var(--dark);
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: var(--light);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    min-height: 45px;
    padding: 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.login__submit-button:hover {
    opacity: .8;
}

.login__hint-container {
    display: flex;
    gap: 1ch;
    justify-content: center;
    padding-top: 16px;
}

.login__hint {
    color: var(--dark4);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.login__link {
    text-decoration: none;
    color: var(--dark);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    cursor: pointer;
}

.login__link:hover {
    opacity: .7;
}

@media screen and (max-width: 425px) {
    .login {
        padding: 0;
    }

    .login__greeting {
        padding: 50px 0 80px;
        text-align: center;
    }

    .login__container {
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 56px 30px 30px;
        box-sizing: border-box;
    }

    .login__form {
        width: 100%;
    }

    .login__submit-button {
        font-size: 12px;
    }

    .login__hint {
        font-size: 12px;
    }

    .login__link {
        font-size: 12px;
    }
}